<div class="container pb-3">
    <div class="row">
        <div class="col">
            {% for project in site.data.projects %}
                {% if page.title == project.title %}
                    {% assign selectedProject = project %}
                        <img src="{{ selectedProject.pageImage }}" class="img-fluid mb-3" alt="{{ selectedProject.title }}" />
                        <p>{{ project.longDescription }}</p>
                {% endif %}
            {% endfor %}
        
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-striped">
              <tbody>
              {% for project in site.data.projects %}
                {% if page.title == project.title %}
                    {% assign selectedProject = project %}
                    {% for projectItem in selectedProject.projectList %}
                      <tr>
                          <td><small class="text-muted">{{ projectItem.projectYear  }}</small></td>
                          <td>{{ projectItem.projectTitle }}</td>
                          <td>
                                {% if projectItem.projectLink != null %}
                                    <a href="{{ projectItem.projectLink }}" target="_new">
                                      <i class="fas fa-external-link-square-alt"></i>
                                    </a>
                                {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="col-sm-4">
        {% for project in site.data.projects %}
            {% if page.title == project.title %}
                {% assign projectFeaturedImage = project.featuredImage %}
                {% assign projectWebsite = project.website %}
            {% endif %}
        {% endfor %}
            <a href="{{ projectWebsite }}" target="_new">
                <img class="d-block w-100 border rounded" src="{{ projectFeaturedImage }}" alt="Third" />
            </a>
        </div>
    </div>
</div>
<!--End content-->