/* custom vars 
*
* Create custom variables here using sass
*/

@import url('https://fonts.googleapis.com/css?family=Aleo:400,700');

$custom-font-size: 50px;
$font-family-sans-serif: "Aleo", sans-serif;
$font-size-base: 1rem;